.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3c4043;
  color: #000;
}

.container {
  width: 100vw;
  height: 92vh;
  margin: 2%;
  max-width: 96%;
  background-color: #fdfdff;
  box-shadow: 5px 20px 50px #000;
  border-radius: 8px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.header button {
  background-color: blue;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  max-height: 50px;
  transition: 300ms;
}

.header button:hover {
  cursor: pointer;
  background-color: #0000de;
}

.title {
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.table {
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  white-space: nowrap;
  overflow-x: auto;
  max-width: 95%;
  min-width: 90%;
  
}
.table td, .table th {
  text-align: center;
  padding: 8px;
  word-break: break-word;
  white-space: normal;
}

.table td {
  border-right: 1px solid #f8f8f8;
  font-size: 0.85em;
  max-width: 40em;
}

.table thead th {
  color: #ffffff;
  background: #3c4043;
}

.table thead th:nth-child(odd) {
  color: #ffffff;
  background: #3c4043;
}

.table tr:nth-child(even) {
  background: #F8F8F8;
}

.removeButton {
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  max-height: 50px;
  transition: 300ms;
}

.removeButton:hover {
  cursor: pointer;
  background-color: #d80000;
}

.actions {
  min-width: 5.2em;
}